<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th><%= sort_link(@q, :name, "Name", hide_indicator: true) %></th>
      <th><%= sort_link(@q, :age, "Age", hide_indicator: true) %></th>
      <th><%= sort_link(@q, :height, "Height", hide_indicator: true) %></th>
      <th><%= sort_link(@q, :weight, "Weight", hide_indicator: true) %></th>
      <th><%= sort_link(@q, :gender, "Gender", hide_indicator: true) %></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.age %></td>
        <td><%= user.height %></td>
        <td><%= user.weight %></td>
        <td><%= user.gender %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>

<h1>ユーザー検索</h1>
<%= search_form_for @q, url: search_users_path do |f| %>
  <%= f.label :name_cont, 'ユーザー名' %>
  <%= f.search_field :name_cont %>
  <%= f.label :age, '年齢' %>
  <%= f.radio_button :age_lteq, '' %>指定しない
  <%= f.radio_button :age_lteq, '10' %>10歳以下
  <%= f.radio_button :age_lteq, '20' %>20歳以下
  <%= f.radio_button :age_lteq, '30' %>30歳以下
  <%= f.radio_button :age_lteq, '40' %>40歳以下
  <%= f.radio_button :age_gteq, '50' %>50歳以上
  <br>
  <%= f.submit '検索' %>
<% end %>